<div class="ct-navbarMobile">
    <a class="navbar-brand" href="/#!/">Your Logo </a>
    <button type="button" class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-topBar text-center">
    <div class="container">
        <ul class="ct-panel--user list-inline text-uppercase pull-right" data-ng-hide="authentication.user">
            <li ui-route="/signin" ng-class="{active: $uiRoute}"><a href="/#!/signin">login<i
                    class="fa fa-lock"></i></a></li>
            <li ui-route="/signup" ng-class="{active: $uiRoute}"><a href="/#!/signup">sign up<i
                    class="fa fa-user"></i></a></li>
        </ul>
        <ul class="admin-nav nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li class="dropdown" data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);">
                <a href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
                <ul class="dropdown-menu" ng-if="item.items.length > 0">
                    <li class="yamm-content" data-ng-repeat="subitem in item.items | orderBy: 'position'"
                        ng-class="{active: $uiRoute}" data-ng-if="subitem.shouldRender(authentication.user);">
                        <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right myaccount" data-ng-show="authentication.user">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"  style="border: none;">
                    <span data-ng-bind="authentication.user.displayName" style="font-size: 16px; line-height: 24px;"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" style="z-index: 9999; padding: 20px;">
                    <li>
                        <a href="/#!/settings/profile">Edit Profile</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<nav class="navbar navbar-default yamm collapse navbar-collapse"  collapse="!isCollapsed" role="navigation"
     data-heighttopbar="60px" data-startnavbar="0">
    <div class="container">
        <div class="navbar-header">
            <a href="/#!/">Your Logo</a>
        </div>
        <div class="ct-navbar--fluid pull-right main-menu">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li ng-repeat="category in menus"><a href="#!/categories/{{ category._id }}">{{ category.name }}</a></li>
            </ul>


        </div>
    </div>
</nav>

