<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Uacademy - Creative HTML Template">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">

    <!-- Facebook META -->
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="/img/brand/logo.png">
    <meta property="og:type" content="website">

    <!-- Twitter META -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:image" content="/img/brand/logo.png">

    <link rel="shortcut icon" href="assets/images/content/favicon.png">
    <link rel="apple-touch-icon" href="assets/images/content/favicon.png">

    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">


    <!--[if lt IE 9]>
    <script src="assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.custom.js"></script>
    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="cssAnimate ct-headroom--scrollUpMenu ng-cloak">
<div class="ct-preloader">
    <div class="ct-preloader-content"></div>
</div>

<!--<nav class="ct-menuMobile" data-ng-include="'/modules/core/views/nav.client.view.html'" data-ng-controller="HeaderController"></nav>-->

<div id="ct-js-wrapper" class="ct-pageWrapper">

    <header data-ng-include="'/modules/core/views/header.client.view.html'" data-ng-controller="HeaderController"></header>
    <div data-ng-include="'/modules/core/views/modal.client.view.html'"></div>
    <section class="content">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </section>
    <div class="ct-divider ct-u-marginBoth30"></div>
    <footer>
        <div class="ct-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <ul class="list-unstyled list-inline text-right ct-fw-300 ct-navbar--footer">
                            <li><a href="/#/">Home</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <ul class="list-unstyled list-inline ct-copyright">
                            <li>Copyright 2015</li>
                            <li>Created by macanhhuy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!--Embedding The User Object-->
<script type="text/javascript">
    var user = {{ user | json | safe }};
    var public_url = 'http://{{request.hostname}}:3000/';
</script>

<!-- JavaScripts -->

<script src="assets/js/main-compiled.js"></script>
<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}

{% if process.env.NODE_ENV === 'development' %}
<!--Livereload script rendered -->
<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
{% endif %}
<script type="text/javascript">
toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "2000",
          "timeOut": "2000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
</script>

</body>
</html>
